<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>AnnoTize</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/sidebar.css') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/annotator.css') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/body.css') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/hamburger_menu.css') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/popup.css') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/other/google.css') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/other/icons_google.css') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/other/ar5iv.0.7.7.min.css') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='color/dist/coloris.min.css') }}">
	
</head>


<body>
    <div id="index-view">
        <h1>
            AnnoTize
        </h1>
        <div class="root-container prevent-select">
            <input class="root-upload" type="file" id="upload-button" multiple accept=".html, .json, .xml" />
            <label class="root-label" for="upload-button">
                <i class="material-symbols-outlined prevent-select settings-button-icon">upload_file</i>&nbsp; <span>Choose or drop html-documents</span>
            </label>
            <div id="error" class="root-upload-error"></div>
            <div id="preview" class="root-upload-preview"></div>
        </div>
        <div class="root-selection">
            <div class="root-menu">
                <div class="root-config-upload">
                    <label>
                        Upload Configuration: 
                        <button class="config-button" id="config-button"><i class="material-symbols-outlined prevent-select settings-button-icon">upload_file</i><span>File</span></button>
                    </label>
                    &nbsp;
                    <div id="root-config-name" class="root-config-name"></div>
                    <input type="file" id="root-configuration" class="root-configuration" name="filename" accept="application/json">
                </div>
                
                <button class="confirm-upload" id="confirm-upload">OK</button>
            </div>
        </div>
    </div>
</body>

<script type="text/javascript" src="{{url_for('static', filename='color/dist/coloris.min.js') }}"></script>
<script type="text/javascript" src="{{url_for('static', filename='anseki-leader-line/leader-line.min.js') }}"></script>
<script type="text/javascript" src="{{url_for('static', filename='cetei/CETEI.js') }}"></script>

<script type="text/javascript" src="{{url_for('static', filename='js/creator.js') }}"></script>

<script type="text/javascript" src="{{url_for('static', filename='js/annotation_style/base.js') }}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/annotation_style/text.js') }}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/annotation_style/marker.js') }}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/annotation_style/striped_highlight.js') }}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/annotation_style/rectangle.js') }}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/annotation_style/underscore.js') }}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/annotation_style/colored.js') }}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/annotation_style/outline.js') }}"></script>

<script type="text/javascript" src="{{url_for('static', filename='js/settings/abstract_tab.js') }}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/settings/general_tab.js') }}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/settings/abospec_tab.js') }}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/settings/rapid_mode_tab.js') }}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/settings/tag_tab.js') }}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/settings/style_tab.js') }}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/settings/settings.js') }}"></script>

<script type="text/javascript" src="{{url_for('static', filename='js/sidebar/sidebar.js') }}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/sidebar/entry.js') }}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/sidebar/menu.js') }}"></script>

<script type="text/javascript" src="{{url_for('static', filename='js/selection/text_highlight.js') }}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/selection/popup.js') }}"></script>

<script type="text/javascript" src="{{url_for('static', filename='js/fragment_target.js') }}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/json_parser.js') }}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/xpath_handler.js') }}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/annotation.js') }}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/custom_select.js') }}"></script>

<script type="text/javascript" src="{{url_for('static', filename='js/ABoSpecs/abstractField.js') }}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/ABoSpecs/body.js') }}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/ABoSpecs/default_concepts.js') }}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/ABoSpecs/reference.js') }}"></script>

<script type="text/javascript" src="{{url_for('static', filename='js/ABoSpecs/fields/field_template.js') }}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/ABoSpecs/fields/number_field.js') }}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/ABoSpecs/fields/reference_field.js') }}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/ABoSpecs/fields/tag_field.js') }}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/ABoSpecs/fields/text_field.js') }}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/ABoSpecs/fields/textbox_field.js') }}"></script>

<script type="text/javascript" src="{{url_for('static', filename='js/abospecs.js') }}"></script>

<script type="text/javascript" src="{{url_for('static', filename='js/index.js') }}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/annotize.js') }}"></script>

<script type="text/javascript" src="{{url_for('static', filename='js/tags/tag.js') }}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/tags/tag_set.js') }}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/tags/runtime_information.js') }}"></script>